Source: openmediavault-hddfanctrl
Section: net
XB-Plugin-Section: utilities
Priority: optional
Maintainer: Roc R. C. <roc@ror3d.xyz>
Build-Depends: debhelper (>= 13), debhelper-compat (=13)
Standards-Version: 4.3.0
Homepage: http://omv-extras.org/

Package: openmediavault-hddfanctrl
Architecture: all
Depends: openmediavault (>= 7),
         python3 (>=3.8),
         python3-venv,
         lm-sensors,
         smartmontools,
         ${misc:Depends}
Description: hddfancontrol plugin for openmediavault
